/* Global Setup */
@font-face {
  font-family: "SF Pro";
  src: url("../fonts/SF-Pro-Display-Ultralight.otf");
  font-weight: 100;
}

@font-face {
  font-family: "SF Pro";
  src: url("../fonts/SF-Pro-Display-Thin.otf");
  font-weight: 200;
}

@font-face {
  font-family: "SF Pro";
  src: url("../fonts/SF-Pro-Display-Light.otf");
  font-weight: 300;
}

@font-face {
  font-family: "SF Pro";
  src: url("../fonts/SF-Pro-Display-Regular.otf");
}

@font-face {
  font-family: "SF Pro";
  src: url("../fonts/SF-Pro-Display-Medium.otf");
  font-weight: 500;
}

@font-face {
  font-family: "SF Pro";
  src: url("../fonts/SF-Pro-Display-Semibold.otf");
  font-weight: 600;
}

@font-face {
  font-family: "SF Pro";
  src: url("../fonts/SF-Pro-Display-Bold.otf");
  font-weight: 700;
}

@font-face {
  font-family: "SF Pro";
  src: url("../fonts/SF-Pro-Display-Heavy.otf");
  font-weight: 800;
}

:root {
  --primary-color: #1461f5;
  --success-color: #0b7517;
  --warning-color: #ffa32e;
  --danger-color: #fb4b4b;
  --default-color: #10130e;
  --border-color: #d4d4d4;
  --border-thin-color: #eaeaea;
  --bs-font-sans-serif: "SF Pro";
  --background-success: #e3ffeb;
  --background-warning: #fff4d8;
  --background-primary: #e6eeff;
  --background-danger: #ffeaec;
  --background-secondary: #f5f5f5;
}

* {
  font-family: "Quicksand", sans-serif;
  letter-spacing: 1px;
}

body {
  font-size: 16px;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

td p {
  margin: 0 !important;
}

.border-radius {
  border-radius: 7px;
}

.btn {
  border-radius: 7px !important;
}

.divider-sm {
  border-bottom: 1px solid var(--border-color);
  padding-bottom: 25px;
  margin-bottom: 25px;
}

.divider-section {
  border-bottom: 1px solid var(--border-color);
  margin: 0 40px;
  padding-bottom: 35px;
  margin-bottom: 35px;
}

.helper-input {
  font-size: 14px;
  font-weight: 300;
  opacity: 0.7;
}

.form-select.is-invalid,
.was-validated .form-select:invalid {
  border-color: #dc3545 !important;
}

.bg-count {
  background: rgb(253, 182, 48);
  background: linear-gradient(
    135deg,
    rgba(253, 182, 48, 1) 0%,
    rgba(251, 75, 75, 1) 100%
  );
}

.btn i {
  color: inherit;
}

a {
  text-decoration: unset;
}

a:hover {
  text-decoration: unset;
}

.text-warning {
  color: var(--warning-color) !important;
}

.accordion-button:hover {
  z-index: auto !important;
}

.card {
  border-color: var(--border-color);
  border-radius: 7px;
}

.card-shadow {
  position: relative;
  border-radius: 7px;
  box-shadow: 0px 2px 18px rgba(0, 0, 0, 0.08);
  /* box-shadow: 0px 2px 4px 1px #3e3e3e2e; */
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
}

.card-shadow.hoverable:hover {
  box-shadow: 0px 2px 7px 5px #3e3e3e2e;
  transition: all 0.2s;
  cursor: pointer;
}

.card-shadow .card-icon-bg {
  position: absolute;
  bottom: 0;
  z-index: 1;
}

.warning {
  background-color: var(--background-warning) !important;
}

.success {
  background-color: var(--background-success) !important;
}

.primary {
  background-color: var(--background-primary) !important;
}

.danger {
  background-color: var(--background-danger) !important;
}

.secondary {
  background-color: var(--background-secondary) !important;
}

.iti {
  display: block !important;
}

.form-control.search-custom {
  border: unset;
  background-color: #f8f8f8;
  padding-left: 30px;
}

.search-icon {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  left: 9px;
  width: 15px;
  opacity: 0.5;
}

.tox.tox-tinymce {
  border-radius: 7px;
}

.tox-notifications-container {
  display: none;
}

.section {
  padding: 0 30px;
  position: relative;
  min-height: calc(100vh - 101px);
  padding-bottom: 70px;
}

.footerd {
  position: absolute;
  bottom: 0;
  width: calc(100% - 60px);
  margin: 0;
}

/* .footerd. */

.form-label {
  font-size: 13px;
  opacity: 0.5;
  margin-bottom: 2px;
}

.dashboard {
  width: 100%;
  min-height: 100vh;
  background-color: #f8f8f8;
}

.badge-custom {
  display: inline;
  padding: 5px 8px;
  border-radius: 7px;
  font-weight: 600;
}

.badge-custom.success {
  background-color: var(--background-success);
}

.dropify-wrapper {
  border-radius: 7px;
  border: 2px dashed var(--border-color);
}

.dropify-wrapper .dropify-message p {
  font-size: 19px;
  font-weight: 200;
  opacity: 0.7;
}

.dropify-wrapper .dropify-preview .dropify-infos .dropify-infos-inner p span {
  color: white;
}

.cursor-pointer {
  cursor: pointer;
}

.form-control {
  border-color: var(--border-color) !important;
  border-radius: 7px !important;
}

.form-select {
  border-color: var(--border-color) !important;
  border-radius: 7px !important;
}

.form-control.is-invalid,
.was-validated .form-control:invalid {
  border-color: #dc3545 !important;
}

input.form-check-input:checked {
  background-color: var(--primary-color);
  border-color: var(--primary-color);
}

::-webkit-scrollbar {
  width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #b7bdcb;
  border-radius: 50px;
  box-shadow: 4px 4px 15px rgba(112, 124, 151, 0.05),
    2px 2px 10px rgba(112, 124, 151, 0.1),
    1px 1px 50px rgba(112, 124, 151, 0.15);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #999;
}

::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: rgb(191, 191, 191) !important;
}

::-moz-placeholder {
  /* Firefox 19+ */
  color: rgb(191, 191, 191) !important;
}

:-ms-input-placeholder {
  /* IE 10+ */
  color: rgb(191, 191, 191) !important;
}

:-moz-placeholder {
  /* Firefox 18- */
  color: rgb(191, 191, 191) !important;
}

/* Sidebar */
.dashboard label {
  font-size: 16px;
  margin-bottom: 5px;
  font-weight: 500;
}

.dashboard-navigation .sidebar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  background-color: white;
  height: 100vh;
  box-shadow: 0px 0px 16px rgba(3, 5, 16, 0.04);
  padding: 20px 20px;
  width: 270px;
  transition: all 0.6s;
}

.dashboard-navigation .sidebar.hide {
  left: -280px;
  transition: all 0.6s;
}

.dashboard .content {
  padding-left: 270px;
  transition: all 0.6s;
}

.content-dalem .section {
  padding-bottom: 90px;
  margin-bottom: 0;
  min-height: 100vh;
  /* min-height: calc(100vh - 70px); */
  position: relative;
}

.content-dalem {
  position: relative;
}

.subtitle {
  margin: 32px 0 0 0;
}

.subtitle img {
  margin: 0 22px 0 0;
}

.subtitle h6 {
  font-size: 14px;
  font-weight: 400;
  color: #4f5665;
  margin-bottom: 8px;
}

.subtitle p {
  font-size: 16px;
  font-weight: 400;
  color: #0b132a;
  margin-bottom: 0;
}

.content-footers {
  padding: 20px 40px;
}

/* Pagination */

.pagination-arrow {
  width: 35px;
  height: 35px;
  border-radius: 100px;
}

.pagination-arrow i {
  font-size: 18px;
}

.pagination-number {
  cursor: pointer;
  font-size: 18px;
  font-weight: 600;
  transition: all 0.2s;
}

.table-pagination .pagination-arrow {
  width: 28px;
  height: 28px;
  border-radius: 100px;
}

.table-pagination .pagination-arrow i {
  font-size: 14px;
}

.table-pagination .pagination-number {
  font-size: 14px;
  padding: 3px 6px;
  margin: 0 2px;
}

/* .footerd .card-shadow{
   
} */
.copy-right p {
  font-size: 14px;
  color: rgba(3, 5, 16, 1);
  font-weight: 300;
  margin: 0 12px 0 0;
}

.copy-right b {
  font-size: 14px;
  font-weight: 700;
  color: rgba(26, 59, 204, 1);
}

.url-copyright p {
  font-size: 14px;
  color: rgba(3, 5, 16, 1);
  font-weight: 300;
  margin-bottom: 0;
}

.dashboard .content.hide {
  padding-left: 0;
  transition: all 0.6s;
}

.dashboard-navigation .sidebar .logo-text {
  font-size: 16px;
  font-weight: 700;
  color: var(--primary-color);
  line-height: 18px;
}

.dashboard-navigation .sidebar .profile-img {
  min-width: 65px;
  max-width: 65px;
  height: 65px;
  overflow: hidden;
  border-radius: 100px;
}

.chat-content {
  min-height: 21px;
}

.dashboard-navigation .sidebar .profile-img img {
  height: 110%;
}

.footer-modal {
  margin-bottom: 32px;
}

.footer-modal .btn {
  width: 100px;
  height: 36px;
}

.dashboard-navigation .section {
  padding-bottom: 0;
  min-height: unset;
}

.dashboard-navigation .sidebar .name-member {
  font-weight: 600;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.dashboard-navigation .sidebar .title-role {
  font-size: 14px;
  font-weight: 300;
  opacity: 0.5;
}

.dashboard-navigation .sidebar .icon-member {
  background-color: #bbbbbb;
  width: 28px;
  height: 28px;
  border-radius: 100px;
  position: relative;
}

.height-hide {
  height: calc(100vh - 120px);
  overflow-y: auto;
}

.check-error {
  position: relative;
}

.check-error small {
  padding: 0px 0 0 10px;
  margin-top: 10px;
}

.img-show {
  width: 100%;
  height: 330px;
  object-fit: cover;
}

.dashboard-navigation .sidebar .icon-member i {
  font-size: 14px;
  color: white;
}

.dashboard-navigation .sidebar .type-member {
  border: 2px solid #bbbbbb;
  padding: 2px 10px;
  font-size: 12px;
  margin-left: -15px;
  padding-left: 20px;
  border-radius: 6px;
  font-weight: 300;
  color: #848484;
}

.dashboard-navigation .sidebar .menu-wrapper {
  margin-top: 25px;
}

.dashboard-navigation .sidebar .menu-name {
  font-weight: 500;
  opacity: 0.3;
  margin-bottom: 5px;
}

.dashboard-navigation .sidebar .item {
  padding: 8px 10px;
  cursor: pointer;
  position: relative;
  font-weight: 300;
  cursor: pointer;
  transition: all 0.1s;
  border-radius: 7px;
  margin: 3px 0;
}

.dashboard-navigation .sidebar .item.active {
  background-color: #f4ffed;
  background: rgb(20, 97, 245);
  background: linear-gradient(
    90deg,
    rgba(20, 97, 245, 1) 0%,
    rgba(80, 157, 255, 1) 100%
  );
}

.dashboard-navigation .sidebar .item:hover {
  background: rgb(20, 97, 245);
  background: linear-gradient(
    90deg,
    rgba(20, 97, 245, 1) 0%,
    rgba(80, 157, 255, 1) 100%
  );
  transition: all 0.1s;
}

.dashboard-navigation .sidebar .item.sub {
  padding-left: 25px;
}

.dashboard-navigation .sidebar .item .none {
  display: block;
  transition: all 0.2s;
}

.dashboard-navigation .sidebar .item .active {
  display: none;
  transition: all 0.2s;
}

.dashboard-navigation .sidebar .item:hover .none {
  display: none;
  transition: all 0.2s;
}

.dashboard-navigation .sidebar .item:hover .active {
  display: block;
  transition: all 0.2s;
}

.dashboard-navigation .sidebar .item.active .none {
  display: none;
}

.dashboard-navigation .sidebar .item.active .active {
  display: block;
}

.dashboard-navigation .sidebar .item img {
  margin-right: 7px;
  font-size: 16px;
  color: #7d7d7d;
  transition: all 0.2s;
  width: 23px;
  display: flex;
  justify-content: center;
}

.judul-name {
  font-size: 18px;
  font-weight: 700;
  color: rgba(40, 40, 40, 1);
  margin-bottom: 18px;
}

.dashboard-navigation .sidebar .item .text {
  color: #7d7d7d;
  transition: all 0.2s;
  font-size: 14px;
}

.dashboard-navigation .sidebar .item:hover img {
  color: white;
  transition: all 0.2s;
}

.dashboard-navigation .sidebar .item:hover .text {
  color: white;
  transition: all 0.2s;
}

.dashboard-navigation .sidebar .item.active img {
  color: white;
}

.dashboard-navigation .sidebar .item.active .text {
  color: white;
}

.dashboard-navigation .sidebar .item.logout:hover {
  background: #ffe5e5 !important;
  transition: all 0.1s;
}

.dashboard-navigation .sidebar .item.logout:hover img {
  color: var(--danger-color);
  transition: all 0.2s;
}

.dashboard-navigation .sidebar .item.logout:hover .text {
  color: var(--danger-color);
  transition: all 0.2s;
}

.dashboard-navigation nav .notif {
  height: 100%;
  cursor: pointer;
  padding: 0 5px;
}

.dashboard-navigation nav .notif-count {
  cursor: pointer;
  position: absolute;
  font-size: 10px;
  font-weight: 600;
  background-color: var(--danger-color);
  width: 20px;
  height: 20px;
  color: white;
  border-radius: 50px;
  top: -10px;
  right: -5px;
}

.dashboard-navigation nav .username {
  font-size: 16px;
  font-weight: 600;
  line-height: 17px;
}

.dashboard-navigation nav .role {
  opacity: 0.5;
}

.dashboard-navigation nav .profile {
  width: 45px;
  height: 45px;
  overflow: hidden;
  border-radius: 100px;
}

.dashboard-navigation nav .profile img {
  height: 100%;
}

.dashboard-navigation nav .menu-bar {
  padding: 4px 10px;
  font-size: 18px;
  cursor: pointer;
}

/* Footer */
footer {
  background-color: #2b2b2b;
  padding: 25px 40px 35px;
}

footer .social-icon {
  background-color: var(--primary-color);
  width: 35px;
  height: 35px;
  font-size: 20px;
  border-radius: 7px;
}

footer .divider-footer {
  border-bottom: 1px solid #ffffff52;
  padding-bottom: 20px;
  margin-bottom: 20px;
}

footer .head {
  color: white;
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 10px;
}

footer .item {
  color: white;
  opacity: 0.7;
  margin-bottom: 2px;
}

footer .logo-text {
  font-size: 22px;
  font-weight: 700;
  color: white;
}

footer .app img {
  height: 40px;
}

footer .bottom {
  font-size: 12px;
  color: white;
}

/* ==================================== */
/* Dashboard */

.dashboard .title-content {
  font-size: 22px;
  font-weight: 600;
}

.dashboard .sub-content {
  font-size: 18px;
  font-weight: 500;
  opacity: 0.7;
}

.dashboard .third-content {
  font-weight: 300;
  opacity: 0.7;
}

tr th {
  font-size: 12px;
  font-weight: 600;
}

.dashboard .divider-menu {
  border-left: 1px solid var(--border-color);
}

/* Index */
.dashboard .time-presensi {
  font-size: 28px;
  font-weight: 700;
}

.dashboard .presensi-title {
  font-size: 16px;
  font-weight: 500;
}

.dashboard .presensi-subtitle {
  font-size: 20px;
  font-weight: 600;
}

/* Presensi */
.dashboard .modal video {
  width: 100% !important;
  height: auto !important;
}

.dashboard .modal .status-video {
  position: absolute;
  top: 10px;
  left: 50%;
  transform: translate(-50%, 10px);
  z-index: 10;
  padding: 15px;
  border-radius: 7px;
  color: white;
  text-align: center;
  min-width: 330px;
  font-size: 18px;
}

.dashboard .modal .status-video.ongoing {
  background-color: #17171796;
}

.dashboard .modal .status-video.success {
  background-color: #1aa91aa6 !important;
}

/* Bank Soal */
.title-type-soal {
  font-size: 16px;
  font-weight: 300;
  opacity: 0.5;
}

.img-question {
  border-radius: 7px;
  overflow: hidden;
  height: 120px;
  width: 100%;
}

.img-soal {
  border-radius: 7px;
  overflow: hidden;
  width: 100%;
}

.menu-float-card {
  position: absolute;
  right: 10px;
  top: 10px;
  opacity: 0.1;
  transition: all 0.2s;
}

.card-shadow:hover .menu-float-card {
  opacity: 1;
  transition: all 0.2s;
}

.menu-float-card .menu-float {
  width: 40px;
  height: 40px;
  background-color: #a9a9a929;
  border-radius: 100px;
  cursor: pointer;
}

/* Kerjakan Soal */
.dashboard .title-soal {
  font-size: 18px;
  font-weight: 600;
}

.dashboard .title-days {
  font-size: 18px;
  font-weight: 600;
  position: relative;
}

.dashboard .countdown {
  text-align: center;
  font-size: 30px;
  font-weight: 600;
}

.dashboard .countdown .count {
  position: relative;
}

.dashboard .countdown .day::after {
  content: "Hari";
  position: absolute;
  transform: translate(-50%, 0);
  left: 50%;
  bottom: -16px;
  font-size: 13px;
  font-weight: 400;
  opacity: 0.8;
}

.dashboard .countdown .hour::after {
  content: "Jam";
  position: absolute;
  transform: translate(-50%, 0);
  left: 50%;
  bottom: -16px;
  font-size: 13px;
  font-weight: 400;
  opacity: 0.8;
}

.dashboard .countdown .minute::after {
  content: "Menit";
  position: absolute;
  transform: translate(-50%, 0);
  left: 50%;
  bottom: -16px;
  font-size: 13px;
  font-weight: 400;
  opacity: 0.8;
}

.dashboard .countdown .second::after {
  content: "Detik";
  position: absolute;
  transform: translate(-50%, 0);
  left: 50%;
  bottom: -16px;
  font-size: 13px;
  font-weight: 400;
  opacity: 0.8;
}

/* List Gugus */
.dashboard .card-shadow .title-gugus {
  font-size: 18px;
  font-weight: 600;
}

.dashboard .card-shadow .pemandu-gugus {
  font-weight: 500;
}

.dashboard .card-shadow .pemandu-img {
  min-width: 30px;
  max-width: 30px;
  height: 30px;
  border-radius: 50px;
  overflow: hidden;
}

.dashboard .card-shadow .pemandu-img img {
  height: 100%;
}

/* Buat Tugas */
.dashboard .form-check-input.floating-check {
  position: absolute;
  right: 15px;
  top: 15px;
}

/* Penilaian Detail */
.dashboard.penilaian .image {
  min-width: 40px;
  max-width: 40px;
  height: 40px;
  overflow: hidden;
  border-radius: 100px;
}

.dashboard.penilaian .image img {
  height: 100%;
}

.dashboard.penilaian .main-text {
  font-size: 16px;
  font-weight: 600;
}

.dashboard.penilaian .sub-text {
  font-weight: 300;
  opacity: 0.5;
  letter-spacing: 1px;
}

.dashboard.penilaian .fa-chevron-right {
  transform: rotate(90deg);
  transition: all 0.2s;
  opacity: 0.7;
}

.dashboard.penilaian .collapsed .fa-chevron-right {
  transform: rotate(0deg);
  transition: all 0.2s;
}

.dashboard.penilaian .soal-section {
  border-bottom: 1px solid var(--border-thin-color);
  border-top: 1px solid var(--border-thin-color);
}

.dashboard.penilaian .number-soal {
  min-width: 30px;
  max-width: 30px;
  height: 30px;
  border-radius: 50px;
  font-size: 16px;
  font-weight: 600;
  margin-right: 10px;
}

.dashboard.penilaian .type-soal {
  font-weight: 600;
  opacity: 0.5;
}

.dashboard.penilaian .image-jawaban {
  max-width: 80%;
  border-radius: 7px;
  overflow: hidden;
}

.dashboard.penilaian .image-jawaban img {
  max-width: 100%;
}

.dashboard.penilaian .file-other {
  max-width: 600px;
}

/* Dashboard Table */
.dataTables_filter {
  margin-bottom: 15px;
}

.dashboard table {
  border-radius: 7px;
  overflow: hidden;
}

.dashboard table th {
  background-color: #0a1931;
  color: white;
}

.dashboard table .image {
  min-width: 40px;
  max-width: 40px;
  height: 40px;
  overflow: hidden;
  border-radius: 100px;
}

.dashboard table .image img {
  height: 100%;
}

.dashboard table .image-presensi {
  min-width: 80px;
  max-width: 80px;
  height: 80px;
  overflow: hidden;
  border-radius: 7px;
}

.dashboard table .image-presensi img {
  height: 100%;
}

.dashboard table .main-text {
  font-size: 14px;
  font-weight: 600;
}

.text-td {
  font-size: 14px;
  font-weight: 400;
  color: rgba(11, 19, 42, 1);
  margin-bottom: 0;
}

.dashboard table .sub-text {
  font-weight: 400;
  opacity: 0.7;
  font-size: 12px;
}

.total-minus {
  width: 28px;
  height: 28px;
  border-radius: 8px;
  background-color: rgba(255, 92, 80, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgba(255, 92, 80, 1);
}

.total-percakapan {
  width: 28px;
  height: 28px;
  border-radius: 8px;
  background-color: rgba(20, 97, 245, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgba(20, 97, 245, 1);
}

.info-orang {
  margin: 0 37px 20px 0;
}

.info-orang img {
  width: 18px;
  height: 18px;
  margin: 0 8px 0 0;
}

.info-orang p {
  margin: 0 16px 0 0;
}

/* Responsive */

@media (max-width: 576px) {
  .section {
    padding: 0 25px 70px;
  }

  .footerd {
    width: calc(100% - 50px);
  }

  .content-footers {
    padding: 15px;
  }

  .content-footers > div {
    justify-content: center !important;
  }

  .mt-sm-3 {
    margin-top: 24px !important;
  }

  .dashboard.penilaian .image-jawaban {
    max-width: 100%;
  }
}

@media (min-width: 992px) {
  .dashboard-modal .modal-lg,
  .dashboard-modal .modal-xl {
    max-width: 1100px;
  }
}

@media (max-width: 992px) {
  .height-hide {
    height: calc(100vh - 180px);
  }

  .dashboard-navigation .sidebar {
    left: 0;
    transition: all 0.6s;
  }

  .dashboard-navigation .sidebar.hide {
    left: -280px;

    transition: all 0.6s;
  }

  .dashboard .content {
    padding-left: 0;
  }
}

/* Loader */
.loader {
  height: 250px;
}

.loader .loader-text {
  font-size: 18px;
  font-weight: 500;
  opacity: 0.7;
  text-align: center;
}

.loader .loader-subtext {
  font-size: 16px;
  font-weight: 300;
  opacity: 0.5;
}

.loader .frame-loader {
  width: 120px;
  height: 145px;
  position: relative;
}

.loader .center {
  position: absolute;
  width: 220px;
  height: 220px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.loader .dot-1 {
  position: absolute;
  z-index: 3;
  width: 30px;
  height: 30px;
  top: 95px;
  left: 95px;
  background: #6e9cff;
  border-radius: 50%;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation: jump-jump-1 1.8s cubic-bezier(0.21, 0.98, 0.6, 0.99)
    infinite alternate;
  animation: jump-jump-1 1.8s cubic-bezier(0.21, 0.98, 0.6, 0.99) infinite
    alternate;
}

.loader .dot-2 {
  position: absolute;
  z-index: 2;
  width: 60px;
  height: 60px;
  top: 80px;
  left: 80px;
  background: #b2cbff;
  border-radius: 50%;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation: jump-jump-2 1.8s cubic-bezier(0.21, 0.98, 0.6, 0.99)
    infinite alternate;
  animation: jump-jump-2 1.8s cubic-bezier(0.21, 0.98, 0.6, 0.99) infinite
    alternate;
}

.loader .dot-3 {
  position: absolute;
  z-index: 1;
  width: 90px;
  height: 90px;
  top: 65px;
  left: 65px;
  background: var(--background-primary);
  border-radius: 50%;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation: jump-jump-3 1.8s cubic-bezier(0.21, 0.98, 0.6, 0.99)
    infinite alternate;
  animation: jump-jump-3 1.8s cubic-bezier(0.21, 0.98, 0.6, 0.99) infinite
    alternate;
}

@-webkit-keyframes jump-jump-1 {
  0%,
  70% {
    box-shadow: 2px 2px 3px 2px rgba(0, 0, 0, 0.2);
    -webkit-transform: scale(0);
    transform: scale(0);
  }

  100% {
    box-shadow: 10px 10px 15px 0 rgba(0, 0, 0, 0.3);
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes jump-jump-1 {
  0%,
  70% {
    box-shadow: 2px 2px 3px 2px rgba(0, 0, 0, 0.2);
    -webkit-transform: scale(0);
    transform: scale(0);
  }

  100% {
    box-shadow: 10px 10px 15px 0 rgba(0, 0, 0, 0.3);
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@-webkit-keyframes jump-jump-2 {
  0%,
  40% {
    box-shadow: 2px 2px 3px 2px rgba(0, 0, 0, 0.2);
    -webkit-transform: scale(0);
    transform: scale(0);
  }

  100% {
    box-shadow: 10px 10px 15px 0 rgba(0, 0, 0, 0.3);
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes jump-jump-2 {
  0%,
  40% {
    box-shadow: 2px 2px 3px 2px rgba(0, 0, 0, 0.2);
    -webkit-transform: scale(0);
    transform: scale(0);
  }

  100% {
    box-shadow: 10px 10px 15px 0 rgba(0, 0, 0, 0.3);
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@-webkit-keyframes jump-jump-3 {
  0%,
  10% {
    box-shadow: 2px 2px 3px 2px rgba(0, 0, 0, 0.2);
    -webkit-transform: scale(0);
    transform: scale(0);
  }

  100% {
    box-shadow: 10px 10px 15px 0 rgba(0, 0, 0, 0.3);
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes jump-jump-3 {
  0%,
  10% {
    box-shadow: 2px 2px 3px 2px rgba(0, 0, 0, 0.2);
    -webkit-transform: scale(0);
    transform: scale(0);
  }

  100% {
    box-shadow: 10px 10px 15px 0 rgba(0, 0, 0, 0.3);
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
